<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable logging, dev errors, and debugging for iisnode -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true" debuggingEnabled="true" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"/>
    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="MainApp">
          <action type="Rewrite" url="dist/server.js"/>
        </rule>
      </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
