<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Disable logging to avoid permission errors, but enable dev errors -->
    <iisnode loggingEnabled="false" devErrorsEnabled="true" nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"/>
    <!-- Register iisnode handler -->
    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode"/>
    </handlers>
    <!-- Rewrite rule - all requests go to main app entry point -->
    <rewrite>
      <rules>
        <rule name="MainApp">
          <action type="Rewrite" url="dist/app.js"/>
        </rule>
      </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <clear/>
      </traceFailedRequests>
    </tracing>
  </system.webServer>
</configuration>
